<div class="content_nav">
    <p class = "contents"> <strong> </strong> Mission is to provide highest quality professional 
    </p>
    <p class = "contents">
        Vision is to be the most trusted and respected IT services firm that adds value to our customers for delivering excellence.
        We believe in our values of Integrity, Excellence, Collaboration and Accountability.
    </p>
    <p class = "contents">
        We offer the knowledge, insight and guidance our customer need to move forward with confidence. 
    </p>

    <div class="about">

    </div>
    <div class="about1">

    </div>
    <div class="about2">

    </div>
</div>