<div class="content_nav">
    <div class = "profileCard" >
            <div class="profilePic"> </div>
            <div class= "profileContent">
                    <i class="material-icons">account_circle</i>
                    <p> {{ userInfo.username}} </p>
            </div>
            <div class= "profileContent"> 
                    <i class="material-icons">verified_user</i>
                    <p>{{ userInfo.userId}} </p>
            </div>
            <div class= "profileContent">
                    <i class="material-icons">work</i>
                    <p> {{ userInfo.designation}} </p>
            </div>
            <div class= "profileContent">
                    <i class="material-icons">email</i>
                    <p> {{ userInfo.email}} </p>
            </div>
            
            
            
           
    </div>
</div>